@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #ffff;
}

@layer components{
    .btn {
      @apply  bg-primary px-[1rem] py-[.5rem] text-white font-medium rounded-lg
    }
    .btn-neutral {
        @apply flex gap-[1.2rem] items-center border-none text-primary text-[1.2rem] font-medium
    }
}

.slide-enter-active, 
.slide-leave-active {
  transition: transform 0.5s ease-in-out;
}

.slide-enter-from,
 .slide-leave-to {
  transform: translateX(-100%);
}


.accordion-enter-active,
.accordion-leave-active {
	will-change: height, opacity;
	transition: height 0.3s ease, opacity 0.3s ease;
	overflow: hidden;
}

.accordion-enter-from,
.accordion-leave-to {
	height: 0 !important;
	opacity: 0;
}